html {
    height: 100vh;
    margin: 0px;
    overflow-y: hidden;
}

body {
    margin: 0px;
    background: linear-gradient(to right, #5DCCF5, #964FF6);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    overscroll-behavior-y: none;
}

html {
    background: linear-gradient(to right, #5DCCF5, #964FF6);
}

h1, h2, h3, input, button, p, div {
    color: #1D1D1F;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

button {
    box-sizing: border-box;
    width: 100%;
    padding: .5rem;
    background: white;
    border: none;
    border-radius: .5rem;
    color: #444;
    margin-inline: .5rem;
    margin-block: .5rem;
    border-radius: 5px;
    border-width: 1px;
    white-space: nowrap;
    box-shadow: -6px -6px 14px rgba(211, 104, 223, 0.2),
    -6px -6px 10px rgba(255, 255, 255, .2),
    6px 6px 8px rgba(255, 255, 255, .3),
    6px 6px 10px rgba(0, 0, 0, .05);
    transition: all .5s;
}

button i {
    color: #444;
}

.popup-modal-overlay {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0px;
    left: 0px;
    animation: fadeIn .5s;
    /* From https://css.glass */
    background: rgba(43, 43, 43, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    z-index: 9999;
}

.popup-modal {
    width: calc(90vw - 2rem);
    height: calc(27.5vh - 2rem);;
    background-color: #1D1D1F;
    animation: slideInFromBottom .5s;
    position: fixed;
    left: 5vw;
    top: calc(37.5vh - 2rem);
    border-radius: 10px;
    z-index: 99999;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    padding-block: 2rem;
    text-align: center;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.tab-cell {
    font-size: small;
    min-width: 1rem;
    min-height: .75rem;
    padding: .25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-radius: 2px;
    margin: .25rem;
    border-color: black;
    border-width: 1px;
    width: .75rem;
    height: .75rem;
    background:#F0f8ff;
    color: #1D1D1F;
    transition: all;
    transition-duration: 1s;
    box-shadow: -6px -6px 14px rgba(255, 255, 255, .2),
    -6px -6px 10px rgba(255, 255, 255, .2),
    6px 6px 8px rgba(255, 255, 255, .3),
    6px 6px 10px rgba(0, 0, 0, .05);
}

.tab-cell-row div:last-child {
    animation: fadeIn 1s;
}

.tab-cell-active {
    animation: grow-shrink 1.5s infinite ease-in-out !important;
}

.tab-cell-active-tutorial {
    animation: grow-shrink-green 1.5s infinite ease-in-out !important;
}

.tab-cell-active-tutorial-icon {
    animation: grow-shrink-green-icon 1.5s infinite ease-in-out !important;
}

.tab-cell-container {
    top: 30vh;
    width: calc(70vw);
    position: fixed;
    position: fixed;
    left: 15vw;
    right: 15vw;
    overflow-x: scroll;
    height: fit-content;
    padding: .5rem;
    animation: fadeIn 1s;
    /* From https://css.glass */
    background: rgba(43, 43, 43, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.tab-cell-container::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.tab-preview-container {
    width: calc(70vw);
    overflow-x: scroll;
    animation: fadeIn 1s;
    background: rgba(43, 43, 43, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: .5rem;
    position: fixed;
    top: 3rem;
    left: 15vw;
    right: 15vw;
    color: white;
}

.tab-preview-container::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.tab-preview-container div {
    width: calc(100vw - 2rem);
    font-family: monospace, monospace;
    white-space: nowrap;
    font-size: 1.1rem;
    min-height: 0px;
    color: white;
    animation: fadeIn 1s;
    height: 1.4rem;
}

.button-bottom-container {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    position: fixed;
    padding: .25rem;
    bottom: 0px;
    top: auto;
    right: 0px;
    animation: fadeIn 1s;
    background: rgba(43, 43, 43, 0.2);
    border-radius: 0px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.header {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 2rem;
    width: 100vw;
    background-color: #1D1D1F;
    color: white;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: .25rem;
}

.header i {
    margin-inline: .5rem;
}

.tab-table div {
    border-style: solid;
    border-color: #1D1D1F;
    border-radius: 10px;
    padding: .33rem;
    background-color: #1D1D1F;
}

.tab-table {
    border-color: #1D1D1F;
    bottom: 0px;
}

.tab-table td {
    padding: .5rem;
}

select {
    display:inline-block;
}

#username-label {
    color: inherit;
    position: fixed;
    right: .5rem;
    top: 5px;
    margin: .25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
}

#change-fret-modal {
    display: none;
    position: fixed;
    right: 0px;
    top: 0px;
    width: 50vw;
    background-color: #1D1D1F;
    opacity: .95;
    justify-content: center;
    align-items: center;
    animation: slideInFromRight .25s;
    flex-direction: column;
}

#change-fret-input {
    background-color: black;
    color: #0171E2;
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 10px; /* add 10px gap between rows and columns */
    width: 90%;
}

.button-grid button {
    padding: .25rem;
    margin: .25rem;
    height: 100%;
    width: 100%;
}

.button-grid button:active {
    background-color: #0171E2;
}

#current-note {
    border-radius: 5px;
    border-style: solid;
    border-color: #1D1D1F;
    background-color: #964FF6;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    box-sizing: border-box;
    padding: .25rem;
    margin-top: .25rem;
    margin-left: .25rem;
    height: 100%;
    width: 100%;
    box-shadow: -6px -6px 14px rgba(255, 255, 255, .2),
    -6px -6px 10px rgba(255, 255, 255, .2),
    6px 6px 8px rgba(255, 255, 255, .3),
    6px 6px 10px rgba(0, 0, 0, .05);
}

.save-button {
    transition: background-color;
    transition-duration: .5s;
}

.save-button i {
    transition: color;
    transition-duration: .5s;
}

@keyframes fadeIn {
    from {
      opacity: 0; /* Optional: Start with transparent */
    }
    to {
      opacity: 1; /* Optional: Fully visible */
    }
}

@keyframes grow-shrink {
    0%, 100% {
        background-color: #1D1D1F;
        transform: scale(1); /* Original size */
        border-color: #1D1D1F;
        color: white;
    }
    50% {
        background-color: #0171E2;
        transform: scale(1.25); /* Grows to 1.5x size */
        border-color: #F0f8ff;
        color: white;
    }
}

@keyframes grow-shrink-green {
    0%, 100% {
        background-color: white;
        transform: scale(1); /* Original size */
        color: #1D1D1F;
    }
    50% {
        background-color: #23FE69;
        transform: scale(1.05); /* Grows to 1.5x size */
        border-color: #F0f8ff;
    }
}

@keyframes grow-shrink-green-icon {
    0%, 100% {
        transform: scale(1); /* Original size */
        color: #1D1D1F;
    }
    50% {
        color: #23FE69;
        transform: scale(1.05); /* Grows to 1.5x size */
    }
}

@keyframes slideInFromRight {
    from {
      transform: translateX(100%); /* Start off-screen to the right */
      opacity: 0; /* Optional: Start with transparent */
    }
    to {
      transform: translateX(0); /* Slide to its original position */
      opacity: .7; /* Optional: Fully visible */
    }
}

@keyframes slideInFromBottom {
    from {
      transform: translateY(100%); /* Start off-screen to the right */
      opacity: 0; /* Optional: Start with transparent */
    }
    to {
      transform: translateY(0); /* Slide to its original position */
      opacity: .7; /* Optional: Fully visible */
    }
}

@media (max-width: 600px) and (orientation:portrait) {
    .tab-cell-container {
        top: 14.25rem;
        width: calc(100vw - 3rem);
        left: 1rem;
        right: 1rem;
    }

    .tab-preview-container {
        width: calc(100vw - 3rem);
        left: 1rem;
        right: 1rem;
    }
    
    #change-fret-modal {
        bottom: 0px;
        left: 0px;
        top: 50vh;
        width: 100vw;
        animation: slideInFromBottom .25s;
        justify-content: center;
        align-items: center;
    }
    
    .button-bottom-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 1rem;
        left: 0rem;
        width: auto;
        top: 26.1rem;
        border-radius: 16px;
        bottom: auto;
    }

    .button-bottom-container div {
        display: flex;
        justify-content: center;
        align-items: center;
        justify-self: center;
        width: auto;
        width: 85%;
    }

    button {
        width: 90%;
    }
}

@media (orientation:landscape) {
    .tab-cell-container {
        top: 18vh;
        width: calc(46vw);
        position: fixed;
        position: fixed;
        left: 2vw;
        right: 48vw;
        overflow-x: scroll;
        height: fit-content;
        padding: .5rem;
        animation: fadeIn 1s;
        /* From https://css.glass */
        background: rgba(43, 43, 43, 0.2);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);
    }

    .tab-preview-container {
        top: 18vh;
        width: calc(44vw);
        position: fixed;
        left: 52vw;
        right: 2vw;
        overflow-x: scroll;
        height: fit-content;
        padding: .5rem;
        animation: fadeIn 1s;
        /* From https://css.glass */
        background: rgba(43, 43, 43, 0.2);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);
    }
}
