html {
    height: 100vh;
    margin: 0px;
}

body {
    margin: 0px;
    background: linear-gradient(to right, #5DCCF5, #964FF6);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    overscroll-behavior-y: none;
}

html {
    background: linear-gradient(to right, #5DCCF5, #964FF6);
}

h1, h2, h3, input, button, p, div {
    color: #1D1D1F;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

button {
    box-sizing: border-box;
    width: 100%;
    padding: 1rem;
    background: white;
    border: none;
    border-radius: .5rem;
    color: #444;
    margin-inline: .5rem;
    margin-block: 1rem;
    border-radius: 5px;
    border-width: 1px;
    white-space: nowrap;
    box-shadow: -6px -6px 14px rgba(255, 255, 255, .2),
    -6px -6px 10px rgba(255, 255, 255, .2),
    6px 6px 8px rgba(255, 255, 255, .3),
    6px 6px 10px rgba(0, 0, 0, .05);
}

button i {
    color: #444;
}

/* #home-button {
    bottom: 0px;
    right: 0px;
}

#remove-line-button {
    bottom: 0px;
    right: 300px;
}

#add-line-button {
    bottom: 0px;
    right: 100px;
} */

.tab-cell {
    min-width: .75rem;
    min-height: .75rem;
    padding: .25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-radius: 2px;
    margin: .25rem;
    border-color: white;
    border-width: 1px;
    width: .75rem;
    height: .75rem;
    border-color: #c9c9d0;
    background: white;
    color: #1D1D1F;
    transition: all;
    transition-duration: 1s;
    box-shadow: -6px -6px 14px rgba(255, 255, 255, .2),
    -6px -6px 10px rgba(255, 255, 255, .2),
    6px 6px 8px rgba(255, 255, 255, .3),
    6px 6px 10px rgba(0, 0, 0, .05);
}

.tab-cell-row div:last-child {
    animation: fadeIn 1s;
}

.tab-cell-active {
    animation: grow-shrink 1.5s infinite ease-in-out;
}

@keyframes grow-shrink {
    0%, 100% {
        background-color: #1D1D1F;
        transform: scale(1); /* Original size */
        border-color: #1D1D1F;
        color: white;
    }
    50% {
        background-color: #0171E2;
        transform: scale(1.25); /* Grows to 1.5x size */
        border-color: #F0f8ff;
        color: white;
    }
}

.tab-cell-container {
    width: calc(100vw - 1rem);
    position: fixed;
    top: 2.75rem;
    left: 0px;
    overflow-x: scroll;
    height: 100vh;
    padding-left: 1rem;
    animation: fadeIn 1s;
}

.tab-cell-container div {
    width: fit-content;
}

.button-bottom-container {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    position: fixed;
    bottom: 0px;
    right: 0px;
    animation: fadeIn 1s;
}

.header {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 2rem;
    width: 100vw;
    background-color: #1D1D1F;
    color: white;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: .25rem;
}

.header i {
    margin-inline: .5rem;
}

.tab-table div {
    border-style: solid;
    border-color: #1D1D1F;
    border-radius: 10px;
    padding: .33rem;
    background-color: #1D1D1F;
}

.tab-table {
    border-color: #1D1D1F;
    bottom: 0px;
}

.tab-table td {
    padding: .5rem;
}

select {
    display:inline-block;
}

#username-label {
    color: inherit;
    position: fixed;
    right: 0px;
    top: 0px;
    margin: .5rem;
}

#change-fret-modal {
    display: none;
    position: fixed;
    right: 0px;
    top: 0px;
    width: 50vw;
    background-color: #1D1D1F;
    opacity: .95;
    justify-content: center;
    align-items: center;
    animation: slideInFromRight .25s;
    flex-direction: column;
}

#change-fret-input {
    background-color: black;
    color: #0171E2;
}

@keyframes slideInFromRight {
    from {
      transform: translateX(100%); /* Start off-screen to the right */
      opacity: 0; /* Optional: Start with transparent */
    }
    to {
      transform: translateX(0); /* Slide to its original position */
      opacity: .7; /* Optional: Fully visible */
    }
}

@keyframes slideInFromBottom {
    from {
      transform: translateY(100%); /* Start off-screen to the right */
      opacity: 0; /* Optional: Start with transparent */
    }
    to {
      transform: translateY(0); /* Slide to its original position */
      opacity: .7; /* Optional: Fully visible */
    }
}

@media (max-width: 600px) and (orientation:portrait) {
    #change-fret-modal {
        bottom: 0px;
        left: 0px;
        top: 50vh;
        width: 100vw;
        animation: slideInFromBottom .25s;
        justify-content: center;
        align-items: center;
    }
    
    .button-bottom-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 1rem;
        left: 0rem;
        width: auto;
    }

    .button-bottom-container div {
        display: flex;
        justify-content: center;
        align-items: center;
        justify-self: center;
        width: auto;
        width: 85%;
    }

    button {
        width: 90%;
    }
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 10px; /* add 10px gap between rows and columns */
    width: 90%;
}

.button-grid button {
    padding: .25rem;
    margin: .25rem;
    height: 100%;
    width: 100%;
}

.button-grid button:active {
    background-color: #0171E2;
}

#current-note {
    border-radius: 5px;
    border-style: solid;
    border-color: #1D1D1F;
    background-color: #964FF6;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    box-sizing: border-box;
    padding: .25rem;
    margin-top: .25rem;
    margin-left: .25rem;
    height: 100%;
    width: 100%;
    box-shadow: -6px -6px 14px rgba(255, 255, 255, .2),
    -6px -6px 10px rgba(255, 255, 255, .2),
    6px 6px 8px rgba(255, 255, 255, .3),
    6px 6px 10px rgba(0, 0, 0, .05);
}

.save-button {
    transition: background-color;
    transition-duration: .5s;
}

.save-button i {
    transition: color;
    transition-duration: .5s;
}

@keyframes fadeIn {
    from {
      opacity: 0; /* Optional: Start with transparent */
    }
    to {
      opacity: 1; /* Optional: Fully visible */
    }
}
