html {
    height: 100vh;
    background: linear-gradient(to right, #5DCCF5, #964FF6);
    margin: 0px;
}

.header {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 2rem;
    width: 100vw;
    background-color: #1D1D1F;
    color: white;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: .25rem;
    z-index: 99999;
}

.header i {
    margin-inline: .5rem;
}

body {
    margin: 0px;
    overflow-y: hidden;
    height: 100%;
    background-size: 75vw !important;
}

#tab-list-container {
    position: fixed;
    margin-top: 2.5rem;
    padding: 0px;
    width: 100vw;
    margin-left: 0px;
    overflow: scroll;
    padding-bottom: 10rem;
    height: 90vh;
}

.popup-modal-overlay {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0px;
    left: 0px;
    animation: fadeIn 1s;
    /* From https://css.glass */
    background: rgba(43, 43, 43, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    z-index: 9999;
    display: none;
}

.popup-modal {
    width: calc(90vw - 2rem);
    height: calc(27.5vh - 2rem);;
    background-color: #1D1D1F;
    animation: slideInFromBottom .5s;
    position: fixed;
    left: 5vw;
    top: calc(37.5vh - 2rem);
    border-radius: 10px;
    z-index: 99999;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    padding-block: 2rem;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.delete-icon {
    color: #D2042D;
    z-index: 99999;
}

.list-item {
    position: relative;
    margin: 10px;
    list-style-type: none;
    padding: 1.5em 5em;
    background: white;
    border: none;
    border-radius: .5rem;
    color: #444;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: .2rem;
    text-align: center;
    outline: none;
    cursor: pointer;
    transition: all .5s ease-in-out;
    box-shadow: -6px -6px 14px rgba(255, 255, 255, .2),
    -6px -6px 10px rgba(255, 255, 255, .2),
    6px 6px 8px rgba(255, 255, 255, .3),
    6px 6px 10px rgba(0, 0, 0, .05);
    animation: slideInFromBottom 1s;
    /* From https://css.glass */
    background: rgba(43, 43, 43, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: white;
    display: flex;
    align-items: center;
}

.list-item p {
    margin: 0px;
    text-align: center;
    width: 100%;
}

#create-new-tab-input {
    box-sizing: border-box; 
    width: 90%;
    padding: .75rem;
    border-radius: 10px;
}

#create-label {
    width: 90%;
    color: white;
    margin-bottom: 1rem;
}

#create-button {
    margin-top: .5rem;
    width: 90%;
    padding: .75rem;
    border-radius: 10px;
    background-color: white;
}

#create-error-label {
    width: 90%;
    color: white;
    margin-top: .5rem;
    animation: fadeIn 1s;
    color: white;
    font-size: small;
    display: none;
}

#loading-icon {
    position: fixed;
    top: calc(50vh - 2rem);
    left: calc(50vw - 2rem);
}

#create-tab-button {
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: fit-content;
    height: 3rem;
    margin: 1rem;
    border-radius: 1.5rem;
    background-color: #1D1D1F;
    z-index: 99999;
    color: #F0f8ff;
    box-shadow: -6px -6px 14px rgba(255, 255, 255, .2),
    -6px -6px 10px rgba(255, 255, 255, .2),
    6px 6px 8px rgba(255, 255, 255, .3),
    6px 6px 10px rgba(0, 0, 0, .05);
}

#create-tab-button:hover {
    background-color: #246ec3;
}

a {
    color: #F0f8ff;
    text-decoration: none; /* no underline */
}

#username-label {
    color: inherit;
    position: fixed;
    right: .5rem;
    top: 5px;
    margin: .25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

@media (min-width: 600px) and (orientation:landscape) {
    body {
        background-size: 25vw;
    }

    li {
        width: 50vw;
    }

    .popup-modal {
        width: calc(25vw - 2rem);
        left: 37.5vw;
    }

    #tab-list-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #tab-list-container {
        margin-top: 3.5rem;
    }
}

#loading-icon {
    transition: all;
    animation: fadeIn 1s;    
}

.notify {
    animation: grow-shrink-green 1.5s infinite ease-in-out !important;
}

@keyframes fadeIn {
    from {
      opacity: 0; /* Optional: Start with transparent */
    }
    to {
      opacity: 1; /* Optional: Fully visible */
    }
}

@keyframes slideInFromBottom {
    from {
      transform: translateY(100%); /* Start off-screen to the right */
      opacity: 0; /* Optional: Start with transparent */
    }
    to {
      transform: translateY(0); /* Slide to its original position */
      opacity: 1; /* Optional: Fully visible */
    }
}

@keyframes grow-shrink-green {
    0%, 100% {
        background-color: white;
        transform: scale(1); /* Original size */
        color: #1D1D1F;
    }
    50% {
        background-color: #23FE69;
        transform: scale(1.05); /* Grows to 1.5x size */
        border-color: #F0f8ff;
    }
}
