html {
    height: 100vh;
    background: linear-gradient(to right, #5DCCF5, #964FF6);
    margin: 0px;
}

.header {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 2rem;
    width: 100vw;
    background-color: #1D1D1F;
    color: white;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: .25rem;
}

.header i {
    margin-inline: .5rem;
}

body {
    margin: 0px;
    overscroll-behavior-y: none;
}

#tab-list-container {
    margin-top: 2.5rem;
    padding: 0px;
    width: 100vw;
    margin-left: 0px;
    overflow: scroll;
    padding-bottom: 10rem;
}

.list-item {
    margin: 10px;
    list-style-type: none;
    padding: 1.5em 5em;
    background: white;
    border: none;
    border-radius: .5rem;
    color: #444;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: .2rem;
    text-align: center;
    outline: none;
    cursor: pointer;
    transition: all .5s ease-in-out;
    box-shadow: -6px -6px 14px rgba(255, 255, 255, .2),
    -6px -6px 10px rgba(255, 255, 255, .2),
    6px 6px 8px rgba(255, 255, 255, .3),
    6px 6px 10px rgba(0, 0, 0, .05);
    animation: slideInFromBottom 1s;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: white;
}

@keyframes slideInFromBottom {
    from {
      transform: translateY(100%); /* Start off-screen to the right */
      opacity: 0; /* Optional: Start with transparent */
    }
    to {
      transform: translateY(0); /* Slide to its original position */
      opacity: 1; /* Optional: Fully visible */
    }
}

#loading-icon {
    position: fixed;
    top: calc(50vh - 2rem);
    left: calc(50vw - 2rem);
}

#create-tab-button {
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: fit-content;
    height: 3rem;
    margin: 1rem;
    border-radius: 1.5rem;
    background-color: #1D1D1F;
    color: #F0f8ff;
    box-shadow: -6px -6px 14px rgba(255, 255, 255, .2),
    -6px -6px 10px rgba(255, 255, 255, .2),
    6px 6px 8px rgba(255, 255, 255, .3),
    6px 6px 10px rgba(0, 0, 0, .05);
}

#create-tab-button:hover {
    background-color: #246ec3;
}

a {
    color: #F0f8ff;
    text-decoration: none; /* no underline */
}

#username-label {
    position: fixed;
    top: 0px;
    right: 0px;
    margin: .25rem;
    color: #F0f8ff;
    display: flex;
    align-items: center;
}

@media (min-width: 600px) and (orientation:landscape) {
    li {
        width: 50vw;
    }

    #tab-list-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

#loading-icon {
    transition: all;
    animation: fadeIn 1s;    
}

@keyframes fadeIn {
    from {
      opacity: 0; /* Optional: Start with transparent */
    }
    to {
      opacity: 1; /* Optional: Fully visible */
    }
}
