html {
    height: 100vh;
    background-color: #F0f8ff;
}

.header {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 2rem;
    width: 100vw;
    background-color: #1D1D1F;
    color: #F0f8ff;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: .25rem;
}

.header i {
    margin-inline: .5rem;
}

body {
    margin: 0px;
}

#tab-list-container {
    margin-top: 2.5rem;
    padding: 0px;
    width: 100vw;
    margin-left: 0px;
    overflow: scroll;
}

.list-item {
    margin: 10px;
    list-style-type: none;
    padding: 1.5em 5em;
    background: #efefef;
    border: none;
    border-radius: .5rem;
    color: #444;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: .2rem;
    text-align: center;
    outline: none;
    cursor: pointer;
    transition: .2s ease-in-out;
    box-shadow: -6px -6px 14px rgba(255, 255, 255, .7),
                -6px -6px 10px rgba(255, 255, 255, .5),
                6px 6px 8px rgba(255, 255, 255, .075),
                6px 6px 10px rgba(0, 0, 0, .15);
}

#create-tab-button {
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 3rem;
    height: 3rem;
    margin: 1rem;
    border-radius: 100%;
    background-color: #1D1D1F;
    color: #F0f8ff;
    box-shadow: -6px -6px 14px rgba(255, 255, 255, .7),
    -6px -6px 10px rgba(255, 255, 255, .5),
    6px 6px 8px rgba(255, 255, 255, .075),
    6px 6px 10px rgba(0, 0, 0, .15);
}

#create-tab-button:hover {
    background-color: #246ec3;
}

a {
    color: #F0f8ff;
    text-decoration: none; /* no underline */
}

#username-label {
    position: fixed;
    top: 0px;
    right: 0px;
    margin: .75rem;
    color: #F0f8ff;
}