html {
    height: 100vh;
    margin: 0px;
}

body {
    margin: 0px;
    background: linear-gradient(to right, #5DCCF5, #964FF6);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    overscroll-behavior-y: none;
    animation: fadeIn 1s;
}

h1, h2, h3, input, button, p, div, i {
    color: #1D1D1F;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

input, button {
    margin-bottom: .5rem;
    box-sizing: border-box;
    width: 100%;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: -6px -6px 14px rgba(255, 255, 255, .2),
    -6px -6px 10px rgba(255, 255, 255, .2),
    6px 6px 8px rgba(255, 255, 255, .3),
    6px 6px 10px rgba(0, 0, 0, .05);
    transition: all .5s;
}

.highlight-error {
    border-color: #D20A2E;
    background-color:#D20A2E;
}

.highlight-error::placeholder {
    color: white;
}

.icon-container {
    justify-content: space-evenly;
    width: 100%;
    margin: 2rem;
    transition: all;
    transition-duration: 1s;
}

button {
    box-sizing: border-box;
    width: 100%;
    padding: 1rem;
    background-color: #1D1D1F;
    border-color: #CECECF;
    color: #F6F6F8;
    margin: 1rem;
    margin-top: .5rem;
    border-radius: 10px;
    border-width: 1px;
}

#special-character-icon, #capital-letter-icon, #number-icon, #over-8-icon {
    animation: fadeIn .5s;
    color: #50C878; 
    display: none;
    font-size: small;
    margin-left: .5rem;
}

#failed-password-error-label p:first-child {
    margin-top: .5rem;
}

#failed-password-error-label p {
    margin: 0px;
    width: calc(100% - 2rem);
    justify-content: space-between;
    color: white;
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
}

#failed-password-error-label {
    display: none;
    color: white;
    width: 75%;
    font-size: small;
    flex-direction: column;
    animation: fadeIn 1s;
    transition: all 1s;
    margin-bottom: .5rem;
}

#failed-username-error-label  {
    display: none;
    color: white;
    margin-bottom: .5rem;
    flex-direction: column;
    max-width: 100%;
    font-size: small;
    animation: fadeIn 1s;
    transition: all 1s;
    width: 75%;
    justify-content: left;
}

#failed-password-error p {
    color: white;
    margin: 0px;
    margin-left: .25rem;
    white-space: nowrap;
    transition: all 1s;
}

@media (min-width: 600px) and (orientation:landscape) {
    input, button, .icon-container {
        margin-bottom: .5rem;
        box-sizing: border-box;
        width: 25%;
        padding: 1rem;
        border-radius: 10px;
    }

    #failed-password-error-label, #failed-username-error-label {
        width: 100%;
    }
}

a {
    text-decoration: none;
    color: #1D1D1F;
}

#logo {
    width: 25vw;
    margin-bottom: 1rem;
}

.layout-container {
    display: flex;
    flex-direction: row;
    width: 70vw;
    height: calc(100vh - 4rem);
}

.layout-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.layout-bottom {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 10vw;
}

.layout-bottom input, .layout-bottom button {
    width: 100%;
}

@media (max-width: 600px) and (orientation:portrait) {
    body {
        justify-content: center;
    }

    #logo {
        width: 90vw;
    }

    .layout-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
    }

    .layout-bottom {
        margin-left: auto;
    }

    .layout-bottom input, .layout-bottom button {
        width: 75%;
    }
}

@keyframes fadeIn {
    from {
      opacity: 0; /* Optional: Start with transparent */
    }
    to {
      opacity: 1; /* Optional: Fully visible */
    }
}
