html {
    height: 100vh;
    margin: 0px;
}

body {
    margin: 0px;
    background: linear-gradient(to right, #5DCCF5, #964FF6);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    overscroll-behavior-y: none;
}

h1, h2, h3, input, button, p, div, i {
    color: #1D1D1F;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

input, button {
    margin-bottom: .5rem;
    box-sizing: border-box;
    width: 100%;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: -6px -6px 14px rgba(255, 255, 255, .2),
    -6px -6px 10px rgba(255, 255, 255, .2),
    6px 6px 8px rgba(255, 255, 255, .3),
    6px 6px 10px rgba(0, 0, 0, .05);
}

.icon-container {
    justify-content: space-evenly;
    width: 100%;
    margin: 2rem;
    transition: all;
    transition-duration: 1s;
}

button {
    box-sizing: border-box;
    width: 100%;
    padding: 1rem;
    background-color: #1D1D1F;
    border-color: #CECECF;
    color: #F6F6F8;
    margin: 1rem;
    border-radius: 10px;
    border-width: 1px;
}

#failed-login-error {
    display: none;
    color: chocolate;
}

#logo {
    width: 25vw;
}

.layout-container {
    display: flex;
    flex-direction: row;
    width: 70vw;
    height: calc(100vh - 4rem);
}

.layout-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.layout-bottom {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 10vw;
}

.layout-bottom input, .layout-bottom button {
    width: 100%;
}

@media (max-width: 600px) and (orientation:portrait) {
    body {
        justify-content: center;
    }

    #logo {
        width: 90vw;
    }

    .layout-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
    }

    .layout-bottom {
        margin-left: auto;
    }

    .layout-bottom input, .layout-bottom button {
        width: 75%;
    }
}

@media (min-width: 600px) and (orientation:landscape) {
    input, button, .icon-container {
        margin-bottom: .5rem;
        box-sizing: border-box;
        width: 25%;
        padding: 1rem;
        border-radius: 10px;
    }
}

a {
    text-decoration: none;
    color: #1D1D1F;
}
