html {
    height: 100vh;
    background: linear-gradient(to right, #5DCCF5, #964FF6);
    margin: 0px;
    animation: fadeIn 1s;
}

label, button {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    font-size: medium;
    background-color: white;
}

.header {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 2rem;
    width: 100vw;
    background-color: #1D1D1F;
    color: white;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: .25rem;
    z-index: 99999;
}

.header i {
    margin-inline: .5rem;
}

body {
    margin: 0px;
    overflow-y: hidden;
    height: 100%;
}

.popup-modal-overlay {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0px;
    left: 0px;
    animation: fadeIn 1s;
    /* From https://css.glass */
    background: rgba(43, 43, 43, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    z-index: 9999;
    display: none;
}

.popup-modal {
    width: calc(90vw - 2rem);
    height: calc(27.5vh - 2rem);;
    background-color: #1D1D1F;
    animation: slideInFromBottom .5s;
    position: fixed;
    left: 5vw;
    top: calc(37.5vh - 2rem);
    border-radius: 10px;
    z-index: 99999;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    padding-block: 2rem;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.delete-icon {
    color: #D2042D;
    z-index: 99999;
}

a {
    color: #F0f8ff;
    text-decoration: none; /* no underline */
}

#username-label {
    color: inherit;
    position: fixed;
    right: .5rem;
    top: 5px;
    margin: .25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#loading-icon {
    transition: all;
    animation: fadeIn 1s;    
}

.notify {
    animation: grow-shrink-green 1.5s infinite ease-in-out !important;
}

#video-canvas {
    position: fixed;
    width: 100vw;
    border-style: solid;
    left: 0px;
    top: 0px;
    background-color: #1D1D1F;
    display: none;
}

input[type="file"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    background: #4CAF50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#upload-file-button, #save-video {
    box-sizing: border-box;
    width: 10rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    background: white;
    border: none;
    border-radius: .5rem;
    color: #444;
    margin-inline: .5rem;
    margin-block: .5rem;
    border-radius: 5px;
    border-width: 1px;
    white-space: nowrap;
    box-shadow: -6px -6px 14px rgba(211, 104, 223, 0.2),
    -6px -6px 10px rgba(255, 255, 255, .2),
    6px 6px 8px rgba(255, 255, 255, .3),
    6px 6px 10px rgba(0, 0, 0, .05);
    transition: all .5s;
}

.fa-video {
    position: fixed;
    width: calc(90vw - 2rem);
    text-align: center;
    height: calc(25vh - 2rem);
    left: 10vw;
    top: 18.5vh;
    font-size: 10rem;
    color: white;
}

#upload-video-buttons-container {
    position: fixed;
    width: calc(90vw - 2rem);
    height: calc(25vh - 2rem);
    left: 5vw;
    bottom: 22vh;
    border-radius: 5px;
    border-style: solid;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* From https://css.glass */
    background: rgba(43, 43, 43, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    z-index: 99999;
}

/** Responsive **/

@media (min-width: 600px) and (orientation:landscape) {
    li {
        width: 50vw;
    }

    .popup-modal {
        width: calc(25vw - 2rem);
        left: 37.5vw;
    }

    #tab-list-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #tab-list-container {
        margin-top: 3.5rem;
    }
}

/** Animations **/

@keyframes fadeIn {
    from {
      opacity: 0; /* Optional: Start with transparent */
    }
    to {
      opacity: 1; /* Optional: Fully visible */
    }
}

@keyframes slideInFromBottom {
    from {
      transform: translateY(100%); /* Start off-screen to the right */
      opacity: 0; /* Optional: Start with transparent */
    }
    to {
      transform: translateY(0); /* Slide to its original position */
      opacity: 1; /* Optional: Fully visible */
    }
}

@keyframes grow-shrink-green {
    0%, 100% {
        background-color: white;
        transform: scale(1); /* Original size */
        color: #1D1D1F;
    }
    50% {
        background-color: #23FE69;
        transform: scale(1.05); /* Grows to 1.5x size */
        border-color: #F0f8ff;
    }
}
